<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" href="./images/compscihigh.png" type="image/icon type">
	<title>Courses</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" 
  rel="stylesheet">
	<link rel="stylesheet" href="/navbar.css" />
	<link rel="stylesheet" href="/courses.css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">		 
  </script>
	<link href="/courses.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<style>
		.lightbox {
			display:none;
			position: fixed;
			z-index: 1000;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			justify-content: center;
			align-items: center;
		}

		.lightbox img {
			max-width: 90%;
			max-height: 90%;
			object-fit: contain;
			margin-left: auto;
			margin-right: auto;
			padding-top:5%
		}

		.close-lightbox {
			position: absolute;
			top: 20px;
			right: 30px;
			color: #29C815 ;
			font-size: 30px;
			cursor: pointer;
		}
	</style>
	<header>
		<nav class="bg-green-700  w-full  top-0 left-0 ">
			<ul class="navigation max-w-[90vw] flex flex-wrap justify-between  relative mx-auto py-4">
				<div class="flex items-center">

					<a class="logo flex  justify-center items-center hover:no-underline " href="/">
						<img class="w-15 h-14 mx-1"src="https://static1.squarespace.com/static/5b328976aa49a1b7b46b89c3/t/5b328c90575d1ff0174390ba/1710002027821/">

						<h3 class="font-bold text-2xl mx-3  text-white hover:text-green">CS Department</h3>



					</a>

				</div>

				<input type="checkbox" id="check" />

				<div class="p-4">
					<label for="check" class="open-menu text-4xl text-white">☰</label>
				</div>

				<span class="menu p-100 flex [&>li]:pl-8 [&>li>a]:text-center [&>li>a]:relative [&>li>a]:transition [&>li>a]:duration-200 [&>li>a]:ease-in-out [&>li>a]:font-medium [&>li>a]:text-lg">
					<div class="menu-items flex justify-center items-center  text-xl font-bold p-2">
						<li><a class="hover:no-underline p-3 rounded-lg hover:bg-green-800 text-white duration-100 mx-1" href="/">Home</a></li>
						<li><a class="hover:no-underline p-3 rounded-lg hover:bg-green-800 text-white duration-100 mx-1" href="/teacher">Our Team</a></li>
						<li><a class="hover:no-underline p-3 rounded-lg hover:bg-green-800 text-white duration-100 mx-1" href="/course"> Courses</a></li>
					</div>




					<label for="check" class="close-menu text-white ">X</label>
				</span>


			</ul>
		</nav>
	</header>
	
	
	<!-- https://codepen.io/shunyadezain/pen/GRqoWdG -->

	<h1 class="text-center font-bold text-4xl md:text-5xl lg:text-6xl py-8 bg-gradient-to-r from-green-800 to-white-800 text-white rounded-lg shadow-md my-5">Course Progression</h1><br>

	
	<img onclick="openCoursePreviewImage()"class="cursor-pointer border rounded-lg shadow-lg mx-auto p-4 object-contain w-full h-auto max-w-screen-md"src="./images/pathways.png" >
	</div>

	<div id="lightbox" class="lightbox">
			<span onclick="closeImage()"class="close-lightbox">&times;</span>
			<img class="m-20" width="75%"id="lightbox-image" src="./images/pathways.png" alt="Full size Courses image">
	</div>

	
		
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-col-3 lg:grid-cols-4 ">
	<%
		courses.sort((a,b) => a.courseGrade -b.courseGrade) 
		<!-- This sorts the courses array before they are displayed -->
		for(let i=0; i<courses.length; i++){%>
		
		<div class="course-card p-2">
			<div class="folder  ">
				

				<div class="folder__back">
					<div class="paper text-center text-2xl "><%= courses[i].courseName%></div>
						<div class="paper text-center text-2xl"> Grade: <%= courses[i].courseGrade%> </div>
						<div class="paper text-center text-xl ">View more:

							<a href="/project?courseId=<%= courses[i]._id%>" class="block bg-green-700 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"> View Projects</a>
						</div>
						<div class="folder__front"></div>
						<div class="folder__front right">
							<img class="h-40 object-center  justify-center m-auto" src="https://static1.squarespace.com/static/5b328976aa49a1b7b46b89c3/t/5b328c90575d1ff0174390ba/1710002027821/"/> 
						</div>
					</div>
				<div class="folder__title mt-2 text-gray-400">
					<p1 class="text-center  text-xl  py-8  rounded-lg "><%= courses[i].courseName%></p1>
				</div>
			</div>
			
		</div>
			
	<%}%>	
	</div>

	









	<footer class="footer bg-green-700 text-white p-10 text-center mt-8 bottom-0 w-full ">
		<h2>
			Contact us!
			@
		</h2>
			<p>ComputerScienceTeam@compscihigh.org</p>
	</footer>
	
	<script src="/navbar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script>
			const lightbox = document.getElementById('lightbox');
			function openCoursePreviewImage() {
				lightbox.style.display="block"
			 }
			 function closeImage() {
				 lightbox.style.display="none"
				}
			viewImageBtn.addEventListener('click', () => {
				 console.log("I GOT HERE!!")

				 lightbox.style.display = 'block'; 
			 });
		</script>
</body>

</html>
