<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/staff.css">
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/navbar.css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
	
	</head>
	<link rel="icon" href="./images/compscihigh.png" type="image/icon type">

	<title>Our Team</title>

</head>

<body class="bg-back">
	<header >
		<nav id="navbar" class="bg-green-700  w-full  top-0 left-0 ">
			<ul class="navigation max-w-[90vw] flex flex-wrap justify-between  relative mx-auto py-4">
				<div class="flex items-center">

					<a class="logo flex  justify-center items-center hover:no-underline " href="/">
						<img class="w-15 h-14 mx-1"src="https://static1.squarespace.com/static/5b328976aa49a1b7b46b89c3/t/5b328c90575d1ff0174390ba/1710002027821/">

						<h3 class="font-bold text-2xl mx-3  text-white hover:text-green">CS Department</h3>



					</a>

				</div>

				<input type="checkbox" id="check" />

				<div class="p-4">
					<label for="check" class="open-menu text-4xl text-white">☰</label>
				</div>

				<span class="menu p-100 flex [&>li]:pl-8 [&>li>a]:text-center [&>li>a]:relative [&>li>a]:transition [&>li>a]:duration-200 [&>li>a]:ease-in-out [&>li>a]:font-medium [&>li>a]:text-lg">
					<div class="menu-items flex justify-center items-center  text-xl font-bold p-2">
						<li><a class="hover:no-underline p-3 rounded-lg hover:bg-green-800 text-white duration-100 mx-1" href="/">Home</a></li>
						<li><a class="hover:no-underline p-3 rounded-lg hover:bg-green-800 text-white duration-100 mx-1" href="/teacher">Our Team</a></li>
						<li><a class="hover:no-underline p-3 rounded-lg hover:bg-green-800 text-white duration-100 mx-1" href="/course"> Courses</a></li>
					</div>




					<label for="check" class="close-menu text-white ">X</label>
				</span>


			</ul>
		</nav>
	</header>

	

	

	


	<div class="flex justify-center items-center m-auto mx-auto m-20 p-20  ">
		<div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-10">
			<div id="app" :class="['container', isSelected ? 'container-selected':'', isReady ? 'container-ready':'']">
					<div class="team-container">
							<div class="header">
									<h2 class="header-title ">Our Team</h2>
							</div>
							<div class="person-list">
									<div class="person" v-for="(person, index) in persons" @click="selectPerson(index, $event)">
											<img class="person-img" :src="'data:image/*;base64,' + person.staffImg" alt="Staff profile picture">
											<div class="person-details my-5">
													<h2 class="person-title">{{person.staffName}}</h2>
												<h2 class="person-title  border border-green rounded"></h2>
													<p class="person-desc">{{person.staffTitle}}</p>
											</div>
									</div>
							</div>
					</div>
					<div class="team-detail">
							<div class="team-detail-inner" v-if="isOk">
									<div class="team-detail-left" :style="`background-image:url(data:image/*;base64,${selectedPersonData.staffImg})`">
											<div class="team-detail-photo">
													<img  :src="'data:image/*;base64,' + selectedPersonData.staffImg" alt="">
											</div>
									</div>
									<div class="team-detail-right">
											<div class="team-detail-bio">
													<div class="team-detail-header p-10">
															<h2 class="person-title text-3xl">{{selectedPersonData.staffName}}</h2>
															<p class="person-title  border border-green rounded"></p>
															<p class="person-desc text-xl">{{selectedPersonData.staffTitle}}</p>
													</div>
													<div class="team-detail-bio-content p-10 text-xl" v-html="selectedPersonData.staffBio">
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
			<!-- https://codepen.io/knyttneve/pen/jGaJjr -->
			
		</div>
		
		
			
		
			
			
		
	</div>
	


		


	
	
	

	

	

		

		<footer id="Footer" class="footer bg-green-700 text-white py-4 text-center mt-8   bottom-0 w-full ">
			<h2>
				Contact us!
				@
			</h2>
				<p>  ComputerScienceTeam@compscihigh.org </p>
		</footer>

		<script >
			const persons = <%- JSON.stringify(Staffinfo) %>
			

				new Vue({
						el: "#app",
						data() {
								return {
										persons: persons,
										selectedPersonIndex: null,
										isSelected: false,
										selectedPerson: null,
										inlineStyles: null,
										isReady: false,
										isOk: false,
										selectedPersonData: {
												staffName: null,
												staffTitle: null,
												staffImg: null,
												staffBio: null
										}
								};
						},
						methods: {
								selectPerson(index, el) {
									document.getElementById('navbar').style.display = 'none'
									// document.getElementById('page-heading').style.display = 'none'
									document.getElementById('Footer').style.display = 'none'
									
										if (!this.isOk) {
											
												this.selectedPersonIndex = index;
												this.isSelected = true;
												this.selectedPerson = el.target.closest('.person');
												this.selectedPerson.classList.add("person-selected");
												this.selectedPerson.setAttribute(
														"style",
														`width:${this.selectedPerson.offsetWidth}px;`
												);
												this.selectedPersonData = this.persons[index];
												window.setTimeout(() => {
														this.inlineStyles = `width:${this.selectedPerson.offsetWidth}px;height:${this.selectedPerson.offsetHeight}px;left:${this.selectedPerson.offsetLeft}px;top:${this.selectedPerson.offsetTop}px;position:fixed`;
														this.selectedPerson.setAttribute("style", this.inlineStyles);
												}, 400);
												window.setTimeout(() => {
														this.isReady = true;
														this.isOk = true;
												}, 420);
										} else {
												this.reset();
										}
								},
								reset() {
									document.getElementById('navbar').style.display = 'block'
									// document.getElementById('page-heading').style.display = 'block'
									document.getElementById('Footer').style.display = 'block'
										this.isReady = false;
										window.setTimeout(() => {
												this.selectedPerson.classList.add("person-back");
										}, 280);
										window.setTimeout(() => {
												this.selectedPerson.setAttribute("style", "");
										}, 340);
										window.setTimeout(() => {
												this.isSelected = false;
												this.selectedPerson.classList.remove("person-back", "person-selected");
												this.isOk = false;
										}, 400);
								}
						}
				});

			

			


			
			
			
			
		</script>	

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<script src="/navbar.js"></script>

</body>

</html>