
.readMore {
	color: #006738;
	text-decoration: underline;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	font: inherit;
}

.container{
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	max-width: 1px ;
	/* display: flex; */
	flex-wrap: wrap;
	justify-content: space-between;

}
.container .expanded{
	max-height: none !important;
	overflow: visible !important;
}
.staff {
	padding: 30px;
	padding-right: 80px;
	border-radius: 30px;
	display:flex; /* make the text be next to the image*/ 
	transition: background-color 0.3s ease; /* This allows it so that when the mouse hover over the staff container it will ease slow into the background */
	box-shadow: 0 4px 6px rgb(0,0,0,0.1);
	background: linear-gradient(to bottom right, #006738 , #f2f2f2f2)

}

.staff img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-right: 20px;
	box-shadow: 0 2px 4px rgb(0,0,0, 0.1)
}


.staff:hover{
	transform: scale(1.03);
	box-shadow: 0 8px 12px rgb(0,0,0,0.1)

}

.footer {
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	background-color: #021;
	color: white;

}

.staff{
	opacity:0;
	animation: fadeIn .9s ease-in-out forwards;
}

@keyframes fadeIn{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

.staff{
	transition: transform 0.2s ease-in-out;
}
.staff:hover{
	transform:scale(1.03) translateX(10px);
	box-shadow: 0 8px 12px rgb(0,0,0,0.1);

}

.staff-card{
	transition: transform 0.6s ease;
	transform-style: preserve-3d;
}

.staff-card:hover .card-front{
	transform: rotateY(-180deg);
}