.mainContainer {
	display: flex;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 10px;
	width: 91%;
}

.container{
	margin: 0 auto;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	max-width: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.staff {
	padding: 30px;
	border-radius: 15px;
	display:flex; /* make the text be next to the image*/ 
	transition: background-color 0.3s ease; /* This allows it so that when the mouse hover over the staff container it will ease slow into the background */

}

.staff img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin-right: 20px;
}


.staff:hover{
	background-color: #9FD593

}

.footer {
	bottom: 0;
	width: 100%;
	padding: 20px 0;
	background-color: #021;
	color: white;

}