body, html{
  height: 100%;
  margin: 0;
  background: black;
  overflow-x: hidden;
}

.firstbgimg, .secondbgimg, .thirdbgimg{
  position: relative;
  opacity: .65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.firstbgimg{
  background-image:  url("./images/_team_sweatshirts.jpg");
  min-height: 100%;
  display: flex;
  justify-conent: center;
  align-items: center;
 
}
.secondbgimg{
  background-image:  url("./images/_students_HackPrinceton.jpg");
  min-height: 100%;
  display: flex;
  justify-conent: center;
  align-items: center;
 
}

.thirdbgimg{
  background-image: url("./images/_students_LyricAlex.jpg");
  min-height: 100%;
  display: flex;
  justify-conent: center;
  align-items: center;
}
.caption{
  align-content:center;
  position: absolute;
  left: 0;
  top:50;
  width:  100%;
  text-align: center;
  color: #000;
}
.caption span.border{
  background-color: #006738;
  padding: 40px;
  font-size: 25px;
  letter-spacing: 10px;
  display: flex;
  justify-conent: center;
  align-items: center;
}
h3{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px
}


/* .swiper {
   width: 600px;
   height: 300px;
 }
.swiper-slide img {
  width:100%;
  height:12;
} */

.hide{
  opacity: 0;
  filter: blur(5px);
  transition: all 2s;
}

.top-section.hide{
  transform: translateX(0);
}

.top-section.show{
  opacity: 1;
  filter: blur(0);
  transform: translateY(0%)
  
}

.middle-section.hide{
  transform: translateX(100%)
}

.middle-section.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%)

}

.bottom-section.hide{
  transform: translateX(-100%)
}

.bottom-section.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%)

}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}


/* @media only screen and (max-width: 800px) {
  .firstbgimg, .secondbgimg, .thirdbgimg {
    background-attachment: scroll;
  }
} */